*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.my-form .form-item label {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
}

.my-form .form-control {
  background: transparent;
  border: 2px solid grey;
  color: #fff;
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1.5;
  box-shadow: none !important;
  -webkit-appearance: none;
  border-radius: 0 !important;
}

.my-form .form-control:focus {
  border: 2px solid #fff;
  outline: none;
}

.my-form .form-item {
  max-width: 600px;
  margin: 0 0 20px;
}

.my-form .btn-submit {
  padding: 10px 15px;
  background: green;
  color: #fff;
  border: 2px solid green;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  line-height: 1.5;
}

.my-form .btn-submit:hover {
    background: darkgreen;
}
